nav{
    background-color: rgb(21, 65, 65);
    padding: 15px;
}

nav img{
    width:70px;
    margin-left: 30px;
}
.nav-list{
    float: right;
    margin-right: 20px;
    list-style-type: none;
}
.nav-list li{
    display: inline-block;
    margin-right: 30px;
    font-size: 30px;
    line-height: 30px;
}
.nav-list li a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}