
<div class="container">
    <h1>Employee Details</h1>
    <div><img class="img" src="{{employee.imageUrl}}alt="></div>
    
</div>
<div class="details">
    <div><label >Name: <span>{{employee.name}}</span></label></div>
    <div><label >EmployeeId: <span>{{employee.employeeId}}</span></label></div>
    <div><label >Department: <span>{{employee.department}}</span></label>
    <div><label >Email: <span>{{employee.emailId}}</span></label></div>
    <div><label >Mobile No.: <span>{{employee.mobile}}</span></label></div>
    <hr>
    <h2>Contact Details</h2>
    <div><label >City: <span>{{employee.city}}</span></label></div>
    <div><label >Zip Code: <span>{{employee.pincode}}</span></label></div>
    <div><label >District: <span>{{employee.district}}</span></label></div>
    <div><label >State: <span>{{employee.state}}</span></label></div>

</div>