
<div *ngIf="!flag"  class="container">
    <h1>Admin Login</h1>
    <form >
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" [ngModelOptions]="{standalone: true}" [(ngModel)]="email"  aria-describedby="emailHelp" placeholder="Enter email">
        <br>
        <label for="exampleInputEmail1">Password</label>
        <input type="password" class="form-control" id="exampleInputEmail1" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" aria-describedby="emailHelp" placeholder="Enter password">
        <br><br>
        <button type="submit" (click)="login()" class="btn btn-success">Submit</button>
    </form>
</div>

<app-header *ngIf="flag"></app-header>
<router-outlet *ngIf="flag"></router-outlet>
<app-footer *ngIf="flag"></app-footer>