<h2 style="text-align: center;
color:teal;
font-size: 40px;
font-weight: 400;"
>Employee List</h2>
<div class="filter">
    <div>
        <input type="text" name="" id="" [(ngModel)]="searchModel.search" (input)="mySearch(searchModel)" placeholder="Search By Name">
        <button (click)="mySearch(searchModel)">Search</button>
    </div>
    <div>
        <label >Sort By</label>
        <select (change)="mySearch(searchModel)" name="" id="" [(ngModel)]="searchModel.sort">
            <option value="employeeId">EmployeeId</option>
            <option value="name">Name</option>
            <option value="department">Department</option>
        </select>
        <select (change)="mySearch(searchModel)" name="" id="" [(ngModel)]="searchModel.order">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </div>
    
    <div>
        <label >Filter</label>
        <select name="" id="" [(ngModel)]="searchModel.filterField">
            <option value="department">Department</option>
            <option value="name">Name</option>
        </select>
        <input type="text" placeholder="Enter data" (input)="mySearch(searchModel)" [(ngModel)]="searchModel.filter">
    </div>
    <div>
        <label >Page Size</label>
        <select name="" id="" [(ngModel)]="searchModel.psize" (change)="mySearch(searchModel)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Employee Id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees ;let i=index">
                <td>{{employee.name}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.emailId}}</td>
                <td>{{employee.employeeId}}</td>
                <button class="btn btn-primary" (click)="employeeDetails(employee.employeeId)">Details</button>
                <button class="btn btn-success" (click)="updateEmployee(employee.employeeId)">Update</button>
                <button class="btn btn-danger" (click)="deleteEmployee(employee.employeeId)">Delete</button>
            </tr>
        </tbody>
    </table>
    
</div>
<div class="pagination">
    <button class="btn btn-primary" [disabled]="decFlag()" (click)="onPageDown()"> << </button>
    <a class="active">{{searchModel.fromValue}}</a>
    <button class="btn btn-primary" [disabled]="incFlag()" (click)="onPageUp()"> >> </button>
</div>

