<h2 style="text-align: center;">Employee List</h2>
<div class="filter">
    <div>
        <input type="text" name="" id="" placeholder="Search By Name">
        <button>Search</button>
    </div>
    <div>
        <label >Sort By</label>
        <select name="" id="">
            <option value="employeeId">EmployeeId</option>
            <option value="name">Name</option>
            <option value="department">Department</option>
        </select>
        <select name="" id="">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </div>
    
    <div>
        <label >Filter</label>
        <select name="" id="">
            <option value="name">Name</option>
            <option value="department">Department</option>
        </select>
        <input type="text" placeholder="Enter data">
    </div>

</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Employee Id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.name}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.emailId}}</td>
                <td>{{employee.employeeId}}</td>
                <button class="btn btn-primary" (click)="employeeDetails(employee.employeeId)">Details</button>
                <button class="btn btn-success" (click)="updateEmployee(employee.employeeId)">Update</button>
                <button class="btn btn-danger" (click)="deleteEmployee(employee.employeeId)">Delete</button>
            </tr>
        </tbody>
    </table>
    
</div>
<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div> 

