
<div class="container">
    <h1 style="text-align: center;">Update Employee</h1>
    <form >
        <div class="form-group">
          <label for="exampleInputEmail1">Full Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter full name" name="name" [(ngModel)]="userData.name" [ngModelOptions]="{standalone: true}">
          <small id="emailHelp" class="form-text text-muted">The same name will be appeared on Identity card</small>
       <br>
       <label for="exampleInputEmail1">Profile Pic</label>
       <input type="text" class="form-control" [(ngModel)]="userData.imageUrl" [ngModelOptions]="{standalone: true}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter image link here">
       <br>
          <label for="exampleInputEmail1">Department</label>
          <input type="text" class="form-control" [(ngModel)]="userData.department" [ngModelOptions]="{standalone: true}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter department">
          <br>
          <label for="exampleInputEmail1">Mobile</label>
          <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="userData.mobile" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter mobile number (10 digits only)">
        <br>
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="userData.emailId" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter email">
            <br>
          <label for="exampleInputEmail1">Salary</label>
          <input type="number" class="form-control" id="exampleInputEmail1" [(ngModel)]="userData.salary" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter Salary">
          </div>
          <h1 style="text-align: center;">Employee Address</h1>
          <div *ngFor="let add of addArray; let i=index" class="address">
          <input [ngModelOptions]="{standalone: true}" name="city" [(ngModel)]="add.city" placeholder="City" type="text">
          <input [ngModelOptions]="{standalone: true}" name="pincode" [(ngModel)]="add.pincode" placeholder="Pincode" type="text">
          <input [ngModelOptions]="{standalone: true}" name="district" [(ngModel)]="add.district" placeholder="District" type="text">
          <input [ngModelOptions]="{standalone: true}" name="state" [(ngModel)]="add.state" placeholder="State" type="text">
          <button (click)="removeAddress(i)" class="btn btn-danger">-</button>
        </div>
        <button (click)="addAddress()" class="btn btn-primary">+</button>
        <h1 style="text-align: center;">Bank Details</h1>
        <label for="exampleInputEmail1">Pan Card Number</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Pan card number" [(ngModel)]="userData.bankingDetails.panCardNo" [ngModelOptions]="{standalone: true}">
       <br>
          <label for="exampleInputEmail1">Aadhar Card Number</label>
          <input type="text" class="form-control" [(ngModel)]="userData.bankingDetails.aadharNo" [ngModelOptions]="{standalone: true}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Aadhar card Number">
          <br>
          <label for="exampleInputEmail1">Bank Account Number</label>
          <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="userData.bankingDetails.accountNo" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter Bank Account Number">
        
        <button type="submit" class="btn btn-primary" (click)="updateEmployee()">Submit</button>
      </form>
</div>